/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
	background-color: #ffffff;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
	background-color: #ffffff;
}

/* >>> IMPORTANT: you have to change the wrap of the content of 
your home page (index) in a div with a class home-container 
to make it work. If you used a div with the class container 
on your home, you’ll only need to change the name of the class. 
And you need a div with the class container and all the other pages.  */

body{
	font-family: sans-serif;
	background-color: #ff0000;
}

main { 
	padding: 3rem 2rem 8rem;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

article {
	background: #00ffff;
}

header {
	display:grid;
	grid-template-columns: 1fr 4fr;
	background: #cccccc;
	padding: 1rem 1rem;
	align-items: center;
	}

h1 {
	width: 14em;
	}

h2, h3, h4 {
		font-weight:700;
	}

h2 {
	font-size: 1.5em;
	margin: 1rem 0rem 0.8rem;
	}
	
h3 {
	font-size: 1.3em;
	margin: 1rem 0rem 1rem;
}


a {
	text-decoration:none;
	}

nav ul  {
	text-align: right;
	}
	
nav ul li.selected a {
	color: #ffffff;
	background-color: #f08408;
}

ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1rem;
}

main.menu ul {
		margin: 2rem 0rem;
}	

main.menu ul li {
		margin: 1rem 0rem 1.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto;
}	

p {
	margin: 1rem 0rem 1rem;
	}
	
p.description {
	grid-column:1/3;
	margin: 0rem;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: #ff0000;
	text-align: right;
	margin: 0rem;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.4rem;
	}
	
nav ul li a {
	color: #ffff00;
	background-color: #0000ff;
	padding: 0.5rem 0.6rem 0.5rem;
	font-size: 1.4em;
	}
	

p.slogan {
	font-size: 3.5em;
	font-family: serif;
	font-style: italic;
	margin: 1rem 0rem 3rem;
	color: #ffffff;	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 1rem;
  background: #ffff00;
}

address {
	color: #f08408;
	}

footer p {
	margin: 0rem;
}

@media screen and (min-width: 60em) {
article {
	max-width: 30em;
	margin: auto;
}

main.menu ul{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 4em;
}

nav ul li{
	display: inline;
	padding-right:1em;
}

}
